<div class="welcome">
  <h1>Welcome to the Pokédex!</h1>
  <img src="../../../assets/pokemon_logo.png" alt="Pokemon logo" height="150px">
  <img src="../../../assets/professor_oak_holding_pokedex_phone_gadget.png" alt="Pokemon Professor Oak" height="150px">
  
  <h2> What's your name?</h2>
  <form [formGroup]="loginForm">
    <input type="text" name="username" id="username" placeholder="Enter username" 
    formControlName="username" required minlength="3">
    
    <button (click)="onLoginClicked()" (ngSubmit)="onLoginClicked()" type="submit">
      Enter
    </button>
    <br> <br>
  </form>
</div>