

<div [id]="preview.name"
  class="card"
  [ngClass]="{caught: this.isCaught}"
  (click) = "onCardClicked()">
  <div class="container">
    <img src={{this.sprite}} width=75%/>
    <h2 class="cap">{{preview.name}}</h2>
  </div>
</div>

<!--  [ngClass]="{'caught:' pokemon.id}" -->