.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 33%;
  float: left;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background: rgb(255,255,0,0.2);
}

.card:active {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background: rgb(0,255,0,0.2)
}

/* Add some padding inside the card container */
.container {
  padding: 2px 8px;
}

.caught {
  background-color: rgb(0,255,0,0.4);
}