<h1><span class="cap">{{trainername}}'s Pokémon</span></h1>

<div *ngIf="pokemonCollection">
  <h3>{{this.pokemonCollection.length}} Pokemon in this collection:</h3>
  <app-pokecard *ngFor="let preview of this.pokemonCollection" 
    [preview]="preview" >
  </app-pokecard> 
</div>

<div *ngIf="!pokemonCollection">
  You have no Pokémon! <br>
  Go to the <a routerLink="/catalogue">catalogue</a> to catch some.
</div>