.pfp{
  width: 50%;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border-radius: 50%;
  background-color: white; /*rgba(255,255,255,1);*/

  margin: auto;
  float: center;
  padding: 8px;
  /*
  background-image: url('src/assets/pokeball_flat.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 50%; //TODO: Apply to only bg, not pokemon.
  */
}

button {
  box-sizing: border-box;
  padding: 8px 4px;
  margin: 2px;
  font-family: 'Helvetica';
  color: white;
  background: rgba(32,32,32);
  font-size: 20pt;
  float: center;
  border-radius: 4pt;
  text-transform: capitalize;
  transition-duration: 0.2s;
  border: solid;
  border-style: ridge;
  opacity: 0.9;
}
button:hover {
  border-color: white;
  border: solid;
  box-shadow: 2px 2px 8px rgb(255,255,255,0.8); 
  opacity: 1;
}
button:active {
  border-style: inset;
}