<div class="card" *ngIf="!pokemon">Loading...</div>
<div *ngIf="pokemon" class="content">
  <h1 class="cap">{{this.pokemon.name}}</h1>
  <div class="pfp" width=80%>
    <img src={{this.sprite}} width="100%">
    <!--For some reason, the src path above claims error although it works fine.-->
  </div>
  <button type="button" (click)="onCatchClicked()">
    <img src="../../../assets/pokeball_askew.png" style="width:32px"> Catch!
  </button>

  <h3>Types</h3>
  <ul>
    <li *ngFor="let t of this.pokemon.types">
      {{t.type.name}}
    </li>
  </ul>

  <h3>Base stats</h3>
  <ul>
    <li *ngFor="let s of this.pokemon.stats">
      {{s.stat.name}}: {{s.base_stat}}
    </li>
  </ul>

  <h3>Profile</h3>
  <ul>
    <li>Height: {{this.pokemon.height}}</li>
    <li>Weight: {{this.pokemon.weight}}</li>
    <li>Base XP: {{this.pokemon.base_experience}}</li>
  </ul>

  <h3>Abilities</h3> 
  <ul>
    <li *ngFor="let a of this.pokemon.abilities">
      {{a.ability.name}}
    </li>
  </ul>

  <h3>Moves</h3> 
  <ul>
    <li *ngFor="let m of this.pokemon.moves">
      {{m.move.name}} <!--TODO: Should be sorted by level learned-->
    </li>
  </ul>
</div>


<!-- 
# Pokemon detail page
  - Base stats
    - Name
    - Image
    - Types
    - Base stats
  - Profile
    - Height
    - Weight
    - Abilities
    - Base Experience
  - Moves
    - List of this one's moves.
  - Button adding pokemon to trainer's Collection
-->