<div class="banner">
  <div *ngIf="this.isAuth">
    <a routerLink="/catalogue">📖 Catalogue</a> | 
    <a routerLink="/trainer"> 👤 Trainer: <span class="cap">{{this.username}}</span></a> | 
    <button class="logOut" (click)="logOut()"> ❌ Log out </button>
  </div>
 
</div>
<router-outlet></router-outlet>