/* You can add global styles to this file, and also import other style files */

* {
  float: center;
  text-align-last: center; 
  /*border: 1px dashed lightgray; */
}

body {
  background-color: lightcyan; 
}

body.content{
  background-color: white !important;
}


p {
  background: rgb(255, 255, 255, 0.8);
}

h1, h2, h3, h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  background: rgb(255, 255, 255, 0.5)
}

.welcome {
  background-image: url('assets/pokemon_background_emerald_plains.png');
  background-size: cover;
}

.warning{
  background: red;
  animation: changeColor 1s infinite; /*Why not*/
}

@keyframes changeColor {
  0% {
    background-color: red;
    margin-left: 100px;
    margin-right: 0px;
  }
  50% {
    background-color: yellow;
    margin-left: 0px;
    margin-right: 100px;
  }
  100% {
    background-color: red;
    margin-left: 100px;
    margin-right: 0px;
  }
}

.cap {
  text-transform:capitalize;
}

a, .logOut {
  color: blue;
}